.partners {
    width: 100%;
    height: auto;
    padding: 0px 20px;
}
.partners_container {
    width: 100%;
    height: auto;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 30px;
}
.partners_title {
    font-family: Steppe Trial;
    font-size: 48px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: -0.02em;
    text-align: center;

    margin-bottom: 40px;
    text-transform: uppercase;
    color: #21466d;
}
